{% extends 'base.html' %}
{% block about %}

<div class="container" style="width:auto; text-align:center">
    <p style="margin-top:3rem; font-size:1.6rem">
        Hamro PG is established in the year 2019. Hamro PG provides all the information including facilities,
        accommodation charges etc. of Paying Guest which are nearby in
        Gangtok,East Sikkim for those students/employees which came away from their home to stay.


    <p>
        Our website helps the students or employees for finding the best
        Paying
        Guest nearby Gangtok,
        East Sikkim as their affordable range. Through this website one can access the different types
        of paying guest available in Gangtok areas and one can compare in terms of accommodation
        fees, facilities available and the suitable locations that one prefers.
    </p>


    Our website <>Hamro PG will be familiar to the
        employees/students
        and solve the obstacles
        as well as reduces their physical work which they are facing for finding Paying Guest in
        Gangtok areas, East Sikkim.
    <p><i>Difficulty to find better Paying Guest,<br>
        Take a rest,<br>
        Just login to <b>Hamro PG</b> website to find<br>paying guest as best v/s best.</i>

    </p>
</div>

{% endblock %}