{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block bootstrap_link %}

{% endblock %}

{% block form %}
<div class="container" style="margin-top:3rem; padding:3rem; font-size:2rem">
    <form method="POST">{% csrf_token %}
        <fieldset class="form-group" style="margin:auto; padding:3rem">
            <legend class="border-bottom mb-4" style="margin:auto; font-size:2rem">Reset Password</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit" style="width:250px; height:3.2rem; margin-top:3rem">
                Reset
            </button>
        </div>
    </form>
</div>
{% endblock %}
