{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block bootstrap_link %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

{% endblock %}
{% block form %}

<!--<div class="container-profile" style="margin-left:3rem; margin-top:3rem; position:relative;">-->
<!--    <img src="{{ user.profile.image.url }}" alt="{{ user.username }}'s Profile "-->
<!--         style=" height:15rem; width:15rem; border-radius:100rem;">-->
<!--    <div class="overlay">-->
<!--        <div class="text-profile">{{ user.username }}</div>-->
<!--        <div class="text-profile">{{ user.email }}</div>-->
<!--    </div>-->
<!--&lt;!&ndash;    UPDATE_FORM&ndash;&gt;-->

<!--    <form method="POST" enctype="multipart/form-data">{% csrf_token %}-->
<!--        <fieldset class="fieldset" style="margin:auto; padding:3rem">-->
<!--            <legend class="legend" style="margin:auto; font-size:2rem">Profile Info</legend>-->
<!--            {{ u_form|crispy }}-->
<!--            {{ p_form|crispy }}-->

<!--            <div class="submit">-->
<!--                <button class="btn" type="submit" style="width:250px; height:3.2rem; margin-top:3rem">Update</button>-->
<!--            </div>-->
<!--        </fieldset>-->

<!--    </form>-->

<!--</div>-->
<div class="content-section" style="margin:auto">
    <div class="media">
        <img src="{{user.profile.image.url}}" alt="" style="border-radius:100%;width:150px; height:150px;">
        <div class="media-body">
            <h2 class="account-heading" style="text-transform:capitalize">{{ user.username }}</h2>
            <p class="text-secondary">{{ user.email }}</p>
        </div>
    </div>
    <form method="POST" enctype="multipart/form-data">{% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Profile Info</legend>
            {{ u_form|crispy }}
            {{ p_form|crispy }}

        </fieldset>
        <div class="form-group">
            <button class="btn" type="submit">Update</button>
        </div>
    </form>
</div>


{% endblock %}
{% block register %}
{% endblock %}

